@import './reset';
@import './fonts';
@import './vars';

html {
    overflow-x: hidden;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1440px;
}
a, button {
    cursor: pointer;
    &:hover {
        opacity: 0.9;
    }
    &:active {
        opacity: 0.8;
    }
}
.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    pointer-events: none;
    opacity: 0;
    background: rgba(255, 255, 255, 0.64);
}
.nav-opened .mask {
    opacity: 1;
    pointer-events: all;
}
@media (max-width: $tableWidth) {
    .mask {
        display: none;
    }
    body.nav-opened {
        height: min-content;
        section, footer {
            display: none;
        }
    }
}
@import "./modules/header";
@import "./modules/footer";