$mainMediumFont: "EuclidCircularB-Medium";
$mainRegularFont: "EuclidCircularB-Regular";
$mainLightFont: "EuclidCircularB-Light";
$mainSemiFont: "EuclidCircularB-SemiBold";
$secondFont: "SangBleuKingdom-Regular";
$secondBoldFont: "SangBleuKingdom-Bold";
$thirdFont: "EuclidCircularA-SemiBold";

$tableWidth: 767px;
$desktopWidth: 1440px;